@model Track_XRref.Models.Contract_PO_Line

@{
    ViewBag.Title = "Edit | Contract Purchase Order Line";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<h2>Edit Contract Purchase Order Line</h2>

@*@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editForm" }))*@
@using (Html.BeginForm(null, null, new { sort = @ViewBag.so,sortdir = @ViewBag.sod,sagejob = @ViewBag.sj, ponumber = @ViewBag.pon , issuedoa = @ViewBag.ioa , clientsiteid = @ViewBag.clientsiteid, clientcontractid = @ViewBag.clientcontractid }, FormMethod.Post, new { id = "editForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Contract_PO_Line</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Contract_PO_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Client_Contract_ID, "Client_Contract_ID", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("Client_Contract_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Client_Contract_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sage_Job, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Sage_Job, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sage_Job, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Number, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PO_Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PO_Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Line, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PO_Line, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PO_Line, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Line_Description, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PO_Line_Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PO_Line_Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Line_Issued_Date, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PO_Line_Issued_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PO_Line_Issued_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Line_Billing_Method_ID, "PO_Line_Billing_Method_ID", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("PO_Line_Billing_Method_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PO_Line_Billing_Method_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Echo_Contact, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Echo_Contact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Echo_Contact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Contact, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Customer_Contact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer_Contact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Line_Approved_Amount_Orig, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PO_Line_Approved_Amount_Orig, new { htmlAttributes = new { @class = "form-control", @id="dec1" } })
                @Html.ValidationMessageFor(model => model.PO_Line_Approved_Amount_Orig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Line_Approved_Amount_Revised, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PO_Line_Approved_Amount_Revised, new { htmlAttributes = new { @class = "form-control", @id = "dec2" } })
                @Html.ValidationMessageFor(model => model.PO_Line_Approved_Amount_Revised, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Line_Percent_Work_Completed, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PO_Line_Percent_Work_Completed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PO_Line_Percent_Work_Completed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Line_Status_ID, "PO_Line_Status_ID",  htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("PO_Line_Status_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PO_Line_Status_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Line_Attachment, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PO_Line_Attachment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PO_Line_Attachment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Line_Notes, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.PO_Line_Notes, new { rows = "3", cols="40" })
                @Html.ValidationMessageFor(model => model.PO_Line_Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Save" class="btn btn-success" id="editSubmit" />
                <input type="button" value="Cancel" class="btn btn-default cancel_btn_space" id="" data-dismiss="modal" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index",new { ponumber= (object) ViewBag.pon, sagejob = (object) ViewBag.sj })
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            //pause submit, get rid of commas in 2 texts boxes that accept dollar amounts, then submit the form.
            $("#editSubmit").click(function (e) {
                e.preventDefault();
                var dec1 = $("#dec1").val();
                var dec2 = $("#dec2").val();
                var dec1 = dec1.replace(/,/g, "");
                var dec2 = dec2.replace(/,/g, "");
                $("#dec1").val(dec1);
                $("#dec2").val(dec2);
                $("#editForm").submit();
            });
        });
    </script>
}
