@model Track_XRref.Models.spEmployeeSelect_Result

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<h2>Add New Line for Employee</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Echo_Employee_Code, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Echo_Employee_Code, new { htmlAttributes = new { @class = "form-control", @id="eec", @readonly="True" } })
                @*@Html.DropDownList("Echo_Employee_Code", null, string.Empty, htmlAttributes: new { @class = "form-control", @id = "echo_employee_code" })*@
                @Html.ValidationMessageFor(model => model.Echo_Employee_Code, "", new { @class = "text-danger" })
            </div>
            @Html.Label("Full_Name", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.TextBox("FullName", null, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client_Site_ID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.Client_Site_ID, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("Client_Site_ID", null, string.Empty, htmlAttributes: new { @class = "form-control", @id = "client_site_id", @required="True" })
                @Html.ValidationMessageFor(model => model.Client_Site_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client_Employee_ID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Client_Employee_ID, new { htmlAttributes = new { @class = "form-control", @required = "True" } })
                @Html.ValidationMessageFor(model => model.Client_Employee_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Create" class="btn btn-success" />
                <input type="button" value="Cancel" class="btn btn-default cancel_btn_space" id="" data-dismiss="modal" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        var eec = $("#eec").val();
        if(eec=="") {
            $("input[type='submit']").prop("disabled","true");
        }
    });
    </script>
}
