@model List<Track_XRref.Models.spEmployeeSelect_Result>

@{
    ViewBag.Title = "Edit";
    var cnt = 0;
}
<div class="pull-left">
    <h2>Employee</h2>
</div>
<div class="clearfix"></div>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label("Echo_Employee_Code", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.DropDownList("Echo_Employee_Code", null, string.Empty, htmlAttributes: new { @class = "form-control", @id = "echo_employee_code" })
                    @Html.ValidationMessage("Echo_Employee_Code", "", new { @class = "text-danger" })
                </div>

                @Html.Label("Employee_Full_Name", htmlAttributes: new { @class = "control-label col-md-2", id = "name" })
                <div class="col-md-2">
                    @Html.Editor("Employee_Full_Name", new { htmlAttributes = new { @class = "form-control" } })
                    <div id="suggesstion-box"></div>
                    @Html.ValidationMessage("Employee_Full_Name", "", new { @class = "text-danger" })
                </div>

                @Html.Label("Occupation", htmlAttributes: new { @class = "control-label col-md-2", id = "occupation" })
                <div class="col-md-2">
                    @Html.Editor("Occupation", new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessage("Occupation", "", new { @class = "text-danger" })
                </div>

            </div>
            
            <table class="table-bordered table-striped table-condensed center_in_tbl sm_tbl">
                <tr><th>Count</th><th>Client Site Code</th><th>Client Employee ID</th>@*<th>Active</th>*@</tr>

                @for (int i = 0; i < Model.Count; i++)
                {
                    ++cnt;
                    <tr>
                        <td>
                            @cnt
                            <input type="hidden" name="spEmployeeSelect_Result[@i].Client_Site_ID" value="@Model[i].Client_Site_ID" />
                            <input type="hidden" name="spEmployeeSelect_Result[@i].Original_Client_Employee_ID" value="@Model[i].Original_Client_Employee_ID" />
                        </td>
                        <td>
                            @Model[i].Client_Site_Code
                        </td>
                        <td>
                            @Html.TextBox("spEmployeeSelect_Result[" + @i + "].Client_Employee_ID", Model[i].Client_Employee_ID, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessage("Client_Employee_ID", "", new { @class = "text-danger" })
                        </td>  
                    </tr>
                }
                @if (cnt > 0) { 
                    <tr><td colspan="3" class="text-left"><a href="~/employee/create?echo_employee_code=@ViewBag.eec" class="btn-success btn" title="Add New Line" data-toggle="modal" data-target="#myModal" id="create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td></tr>
                }
            </table>
            @if (cnt > 0)
            {
                <div class="form-group">
                    <div class="col-md-offset-6 col-md-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    }

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg modal_larger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">...Loading</h4>
            </div>
            <div class="modal-body">
                Content on its way.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(function () {
                $("#echo_employee_code").change(function () {
                    var url = window.location.href.toString().toLowerCase();
                    if (url.indexOf("?employee_name") > 0) {
                        url = url.substring(0, url.indexOf("?employee_name"));
                    }
                    if (url.indexOf("?echo_employee_code") > 0) {
                        url = url.substring(0, url.indexOf("?echo_employee_code"));
                    }
                    url = url + "?echo_employee_code=" + $(this).val();
                    window.location.href = url;
                });
                $("#Employee_Full_Name").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("jsonName", "employee")',
                            data: { s_name: request.term },
                            dataType: "json",
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return item;
                                }));
                            },
                            error: function (response) {
                                    alert(response.responseText);
                                },
                            failure: function (response) {
                                    alert(response.responseText);
                                }
                            });
                    },
                    select: function (e, i) {
                        $("#Employee_Full_Name").val(i.item.val);
                    },
                    minLength: 1
                });

                $("#Employee_Full_Name").on("autocompleteselect", function (event, ui) {
                    var url = window.location.href.toString().toLowerCase();
                    if (url.indexOf("?employee_name") > 0) {
                        url = url.substring(0, url.indexOf("?employee_name"));
                    }
                    if (url.indexOf("?echo_employee_code") > 0) {
                        url = url.substring(0, url.indexOf("?echo_employee_code"));
                    }
                    url = url + "?employee_name=" + ui.item.value;
                    window.location.href = decodeURI(url);
                });
            });
        </script>
    }
