@model PagedList.IPagedList<Track_XRref.Models.spEmployeeMatchNullEmpCodeSelect_Result>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Details";
    int cnt= 0;
    int cnt2 = 0;
}
<div class="pull-left">
    <h2>Match <span class="badge match_badge">@ViewBag.count</span></h2>
</div>
<div class="pull-left" style="margin:18px 0 0 50px;">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Site_ID", "Client_Site_ID", htmlAttributes: new { @class = "control-label col-xs-4" })
            <div class="col-xs-8">
                @Html.DropDownList("Site_ID", null, string.Empty, new { @class = "form-control", @id = "site_id" })
            </div>
        </div>
    </div>
</div>

<div class="pull-right" style="margin:18px 0 0 0;">
    @*<h3>@ViewBag.count</h3>*@
    <div style="width:250px;">
        <div class="input-group">
            @Html.TextBox("f", null, htmlAttributes: new { @class = "form-control", @id = "f", @placeholder = "Client_Employee_ID" })
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="filter" title="Filter"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></button>
            </span>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div style="max-height:428px;overflow-y:auto;">
    <table class="table table-bordered table-striped table-hover" id="match_tbl1">
        <tr><th class="text-center">Select</th><th class="text-center">Count</th><th>Client_Employee_ID</th><th>First Name</th><th>Middle Name</th><th>Last Name</th><th>Skill</th></tr>
        @foreach (var item in Model)
        {
            ++@cnt;
            <tr><td class="text-center"><input type="checkbox" id="mcb_@cnt"></td>
        <td class="text-center">@cnt</td><td>@item.Client_Employee_ID</td><td>@item.Employee_First_Name</td><td>@item.Employee_Middle_Name</td><td>@item.Employee_Last_Name</td><td>@item.Skill</td></tr>
        }
    </table>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.PagedListPager(Model, page => Url.Action("Match", new { site_id = Request.Params["site_id"], page, sortOrder = ViewBag.CurrentSort, f = ViewBag.CurrentFilter }))
    </div>
    <div class="col-md-6 text-right" style="margin:15px 0 0 0">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="form-horizontal" id="match_name">
    <div class="form-group">
        @Html.Label("first", "First:", htmlAttributes: new { @class = "control-label col-md-1 col-md-offset-1" })
        <div class="col-md-2">
            @Html.TextBox("first", null, htmlAttributes: new { @class = "form-control", @placeholder="starts with" })
        </div>
        @Html.Label("last", "Last:", htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBox("last", null, htmlAttributes: new { @class = "form-control", @placeholder = "starts with" })
        </div>
        @Html.Label("contains", "Contains:", htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBox("contains", null, htmlAttributes: new { @class = "form-control" })
        </div>
        
        <div class="col-md-1 text-center">
            <a href="#" class="btn btn-primary" id="find">Find</a>
        </div>
    </div>
</div>
<br />
<table class="table table-bordered table-striped table-hover" id="match_tbl2">
    <tr><th class="text-center">Select</th><th>Echo_Employee_Code</th><th>Full Name</th><th>Occupation</th><th>Hire_Date</th><th>Rehire_Date</th><th>Termination_Date</th><th>Last_Check_Date</th></tr>
    @foreach(var match in ViewBag.MatchingNames) {
        ++@cnt2;
        <tr><td class="text-center"><input type="checkbox" id="match_checkbox-@cnt2">
    <td>@match.Echo_Employee_Code</td><td>@match.Employee_Full_Name</td><td>@match.Occupation</td><td>@(@match.Hire_Date != null ? @match.Hire_Date.ToString("d") : "")</td><td>@(@match.Rehire_Date != null ? @match.Rehire_Date.ToString("d") : "")</td><td>@(@match.Termination_Date != null ? @match.Termination_Date.ToString("d") : "")</td><td>@(@match.Last_Check_Date != null ? @match.Last_Check_Date.ToString("d") : "")</td></tr> 
    }
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<input type="hidden" name="Client_Employee_ID" id="client_employee_id" data-id="" data-name="" />
<input type="hidden" name="Echo_Employee_Code" id="echo_employee_code" />
<input type="submit" value="Save" class="btn btn-primary" id="submit" style="display:none;" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var url = window.location.href.toString().toLowerCase();
            //saves the selected box id and puts that in url param
            if (url.indexOf("&cb=mcb_") > 0) {
                var cb_selected = url.substring(url.indexOf("&cb=") + 4, url.length);
                $("#match_tbl1 input[type='checkbox']#" + cb_selected).prop('checked', true);
                //initialize values of hidden fields on load //after user hits find, these values were being removed
                $("#client_employee_id").val($("#match_tbl1 input[type='checkbox']:checked").closest('td').next('td').next('td').text());
                $("#client_employee_id").attr('data-id', $("#match_tbl1 input[type='checkbox']:checked").attr('id'));
                $("#client_employee_id").attr('data-name', $("#match_tbl1 input[type='checkbox']:checked").closest('td').next('td').next('td').next('td').text() + " " + $("#match_tbl1 input[type='checkbox']:checked").closest('td').next('td').next('td').next('td').next('td').next('td').text());
            };
            //click filter button
            $("#filter").click(function() {
                var f = $("#f").val();
                if (url.indexOf("&f") > 0) {
                    url = url.substring(0, url.indexOf("&f"));
                }
                //remove page from url... because you could be on page 8 then filter and then there only be 2 pages
                if (url.indexOf("&page") > 0) {
                    url = url.substring(0, url.indexOf("&page"));
                }
                url = url + "&f=" + f;
                window.location.href = url;
            });
            //enter
            $("#f").focus(function () {
                $(this).keypress(function (e) {
                    if (e.which == 13) {
                        $("#filter").click();
                    }
                });
            });
            //click checkbox on top tbl, put values into hidden fields
            $("#match_tbl1 input[type='checkbox']").change(function () {
                if ($(this).is(":checked")) {
                    //only allow 1 checkbox to be checked in top table
                    if ($("#match_tbl1 input[type='checkbox']:checked").length <= 1) {
                        //populate hidden fields
                        $("#client_employee_id").val($("#match_tbl1 input[type='checkbox']:checked").closest('td').next('td').next('td').text());
                        $("#client_employee_id").attr('data-id', $(this).attr('id'));
                        $("#client_employee_id").attr('data-name', $("#match_tbl1 input[type='checkbox']:checked").closest('td').next('td').next('td').next('td').text() + " " + $("#match_tbl1 input[type='checkbox']:checked").closest('td').next('td').next('td').next('td').next('td').next('td').text());
                        //show find after user clicks a checkbox in top table
                        $("#match_name").show();
                        $("#match_tbl2").show();
                        //highlight selected field
                        $(this).closest("tr").addClass("trSelected");
                        //help user search [first 2 char of first and last name put into respective find fields]
                        $("#first").val($("#match_tbl1 input[type='checkbox']:checked").closest('td').next('td').next('td').next('td').text().toLowerCase().substr(0, 3))
                        $("#last").val($("#match_tbl1 input[type='checkbox']:checked").closest('td').next('td').next('td').next('td').next('td').next('td').text().toLowerCase().substr(0, 3))
                        $("#find").click();
                    } else {
                        //alert("You can only check 1 line in the top table.");
                        //$(this).prop('checked', false);
                        $("#match_tbl1 input[type='checkbox']").not(this).prop('checked', false);
                        $("#match_tbl1 input[type='checkbox']").not(this).closest("tr").removeClass("trSelected");
                        $(this).trigger("change");
                    }
                } else {
                    //checkbox clicked off
                    //hide find after user de-clicks a checkbox in top table
                    $("#match_name").hide();
                    $("#match_tbl2").hide();
                    //clear out values put in hidden fields
                    $("#client_employee_id").val('');
                    $("#client_employee_id").attr('data-id', '');
                    $("#client_employee_id").attr('data-name', '');
                    $(this).closest("tr").removeClass("trSelected");
                };
            });
            //on load hide find fields and second table
            if ($("#match_tbl1 input[type='checkbox']:checked").length ==0) {
                $("#match_name").hide();
                $("#match_tbl2").css('display', 'none');
            } else {
                $("#match_tbl1 input[type='checkbox']:checked").closest("tr").addClass("trSelected");
            }
            //on load hide client employee id filter if client site id not selected
            if ($("#site_id").val() =="") {
                $("#f,.input-group-btn, #filter, .glyphicon-filter").hide();
            }

            //put site id in url and go
            $("#site_id").change(function () {
                //var url = window.location.href.toString().toLowerCase();
                if (url.indexOf("?site_id") > 0) {
                    url = url.substring(0, url.indexOf("?site_id"));
                }
                url = url + "?site_id=" + $(this).val();
                window.location.href = url;
            });
            //put find fields in url and go
            $("#find").click(function (e) {
                e.preventDefault();
                var url = window.location.href.toString().toLowerCase();
                if (url.indexOf("&first") > 0) {
                    url = url.substring(0, url.indexOf("&first"));
                }
                url = url + "&first=" + $("#first").val() + "&last=" + $("#last").val() + "&contains=" + $("#contains").val() + "&cb=" + $("#client_employee_id").attr('data-id');
                window.location.href = url;
            });
            //dbl click row, highlight row and select row
            $("#match_tbl1 tr td, #match_tbl2 tr td").dblclick(function () {
                $(this).parent().children(":first").find("input[type='checkbox']").click();
            });
            
            //check for enter keypress in field
            $("#first").focus(function () {
                ifEnter();
            });
            $("#last").focus(function () {
                ifEnter();
            });
            $("#contains").focus(function () {
                ifEnter();
            });
            //if enter function
            function ifEnter() {
                $(this).keypress(function (e) {
                    if (e.which == 13) {
                        $("#find").click();
                    }
                });
            };
            //bottom table click on checkbox and get cmd box showing user what data they are about to tie together. then send it.
            $("[id^='match_checkbox-']").change(function () {
                if ($(this).is(":checked")) {
                    //alert($(this).closest('td').next('td').text());
                    var echo_employee_code = $(this).closest('td').next('td').text();
                    $("#echo_employee_code").val(echo_employee_code);
                    var client_site_id = $("#site_id").val();
                    var client_employee_id = $("#client_employee_id").val();
                    var result = confirm("The employee, " + $('#client_employee_id').attr('data-name') + ", with a client_employee_id of '" + client_employee_id + "' (top table) will now have an echo_employee_code of '" + echo_employee_code + "' (bottom table).");
                    if (result == true) {
                        //send data to controller... json or actionresult
                        $("#submit").click();
                    } else {
                        //alert("cancel hit");
                        $(this).prop('checked', false);
                    }
                }
            });
            //if only 1 row shows after filter (in top table), select it
            if ($("#match_tbl1 input[type='checkbox']").length == 1) {
                if ($("#match_tbl1 input[type='checkbox']:checked").length == 0) {
                    $("#match_tbl1 input[type='checkbox']").click();
                }
            };
        });
    </script>
}
